
<!-- Applicant Short Lisitng page -->

{% extends 'dashboard/base.html' %}
{% block content%}

<div class="box-content">
    <div class="box-heading">
        <div class="box-title">
            <h3 class="mb-35">Manage Candidates</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-box">
                <div class="container">
                    <div class="panel-white mb-30">
                        <div class="box-padding">
                            <h6 class="color-text-paragraph-2 ">Manage Candidates</h6>
                            <div class="panel-head">
                                {% include 'dashboard/messages.html'%}
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="container">
                                            <div class="row">
                                                {% if applications %}
                                                <div class="col-md-12">
                                                    
                                                    <div class="table-responsive">
                                                        <table class="table no-wrap user-table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col"
                                                                        class="border-0 text-uppercase font-medium pl-4">
                                                                        #</th>
                                                                    <th scope="col"
                                                                        class="border-0 text-uppercase font-medium">
                                                                        Unit Code</th>
                                                                    <th scope="col"
                                                                        class="border-0 text-uppercase font-medium">Unit Name
                                                                    </th>
                                                                    <th scope="col" style="width: 15%"
                                                                        class="border-0 text-uppercase font-medium">
                                                                        Name</th>
                                                                    <th scope="col"
                                                                        class="border-0 text-uppercase font-medium">Applied date
                                                                    </th>
                                                                    <th scope="col" style="width: 20%"
                                                                        class="border-0 text-uppercase font-medium">
                                                                        Resume</th>
                                                                    <th scope="col" style="width: 10%"
                                                                        class="border-0 text-uppercase font-medium ">
                                                                        Shortlist</th> 
                                                                  
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for application in applications %}
                                                                <tr>
                                                                    <td class="pl-4"></td>
                                                                    <td>
                                                                        <span class="text-muted">{{application.job.code}}</span>


                                                                    </td>
                                                                    <td>
                                                                        <span class="text-muted">{{application.job.name}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span
                                                                            class="text-muted">{{application.user.first_name}}&nbsp{{application.user.last_name}}</span>
                                                                    </td>
                                                                   
                                                                    <td>
                                                                        <span class="text-muted">{{application.created_at}}</span>
                                                                    </td>
                                                        
                                                                    <td>
                                                                        <a class="btn btn-download btn-default" target="_blank" href="{{application.resume.url}}">&nbsp&nbsp&nbsp{{application.filename}}</a>
                                                                    </td>
                                                                 

                                                                    <td>
                                                                        <div>
                                                                            <a type="button"
                                                                            class="btn btn-default btn-approve ml-2" href="{% url 'approve_application' app_id=application.id%}"></i>
                                                                        </a>
                                                                        
                                                                        <a type="button"
                                                                            class="btn btn-default btn-reject ml-2" href="{% url 'reject_application' app_id=application.id %}"></i>
                                                                        </a>

                                                                    </div>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                                <div class="paginations">
                                                    <ul class="pager">
                                                        {% if page_obj.has_previous %}
                                                        <li><a class="pager-prev" href="?page={{ page_obj.previous_page_number }}"></a></li>
                                                        {% endif %}
                                                        <li class="current pager-number">
                                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                        </li>
                                                        {% if page_obj.has_next %}
                                                        <li><a class="pager-next" href="?page={{ page_obj.next_page_number }}"></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                {% else %}
                                                <div class="col-md-12">
                                                    <h5>No applications found</h5>
                                                </div>
                                                    
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <footer class="footer mt-20">
            <div class="container">
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-25 text-center text-md-start">
                            <p class="font-sm color-text-paragraph-2">Copyright © 2023. CorpU all right reserved</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

{% endblock %}