{% extends 'app/applicant_base.html' %}

{% block content %}




<main class="main">
  <section class="section-box">
      <div class="banner-hero hero-2">
          <div class="banner-inner">
              <div class="block-banner">
                  <div class="font-lg font-regular color-white mt-20" data-wow-delay=".1s">Welcome back!</div>
                  <h2 class="text-42 color-white">Change Password</h2>
                  <!--<div class="form-find mt-40 wow animate__animated animate__fadeIn" data-wow-delay=".2s"></div>-->
                  <section class="login-register">
                      <div class="container">
                          <div class="row login-register-cover">
                              <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
                                  <div style="margin-top: 5px;">
                                      {% if messages %}
                                      
                                          {% for message in messages %}
                                          {% if message.tags == "error" %}
                                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                              {{message}}
                                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                          {% endif %}
                              
                                          {% if message.tags == "success" %}
                                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                                              {{message}}
                                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                          {% endif %}
                              
                                          {% endfor %}
                                      
                                      {% endif %}
                              
                                  </div>
                                  <form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
                                    <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
                                      <!-- <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true"> -->
                                      <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                                      <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                                  
                                      {% for field in form %}
                                        {% for error in field.errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                      {% endfor %}
                                  
                                    <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>  
                                  </form>
                              </div>
                          </div>
                      </div>
                  </section>
</main>
{% endblock %}

